
@media (max-width: 980px) {
    .login-group{
        display: none;
    }
    
    .login-responsive{
        display: 'absolute';
    }
}

@media (min-width:980px) {
    .login-group{
        display: absolute;
    }
    
    .login-responsive{
        display: none;
    }
    
}

@media (max-width:640px){
    .login-responsive{
        display: none;
    }
    .signup-svg{
        display: none;
        width: 0;
    }
}